<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui basic segment" id="main-segment">
    <div class="ui stackable grid">
        <div class="row">
            <div class="sixteen wide column" style="padding-left: 16.5vw;">
                <div class="ui large  breadcrumb" style="margin-top: 30px;">
                    <a href='/users/home' class=" section">Home</a>
                    <i class="right chevron icon divider"></i>
                    <div class="active section">My Settings</div>
                </div>
            </div>
        </div>
        <div class="centered row">
            <div class="two wide column">
                <% include ../../partials/sidebar %>
            </div>
            <div class="eleven wide column">
                <% if(success.length != 0){ %>
                    <div class="ui large success message ">
                        <i class="close icon"></i>
                        <div class="header">
                            <%=success[0]%>
                        </div>
                    </div>
                    <% } %>
                    <% if(error.length != 0){ %>
                        <div class="ui large error message ">
                            <i class="close icon"></i>
                            <div class="header">
                                <%=error[0]%>
                            </div>
                        </div>
                        <% } %>
                <div class="ui top attached tabular menu">
                    <a class="active item" data-tab="first">Personal Information</a>
                    <% if(user.admin){%>
                        <a class="item" data-tab="second">Manage Users</a>
                    <% }%> 
                </div>

                <div class="ui bottom attached tab segment active" data-tab="first">
                    <div class="ui blue small header">Edit Personal Information</div>
                    <div class="ui stackable grid">
                        <div class="row">
                            <div class="three wide column" style="margin-left: 1.5vh;">
                                <img class="ui small rounded image" src="/images/pic1.jpeg">
                            </div>
                            <div class=" ten wide column">
                                <br>
                                <div class="ui header"><%=user.first_name%> <%=user.last_name%></div>
                                <div class="ui small grey header" style="margin: 0px;">papisline2222@gmail.com</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="content">
                        <form action="/users/changeInfo" method="post" class="ui form">
                            <div class="two fields">
                                <div class="five wide field">
                                    <label>First Name</label>
                                    <input type="text" name="first_name" placeholder="First Name">
                                </div>
                                <div class="five wide field">
                                    <label>Last Name</label>
                                    <input type="text" name="last_name" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="four wide field">
                                    <label>Email Address</label>
                                    <input type="email" name="new_email" placeholder="Email">
                                </div>
                                <div class="four wide field">
                                    <label>Confirm Email Address</label>
                                    <input type="email" name="confirm_email_address" placeholder="Confirm Email">
                                </div>
                            </div>
                            <button class="ui green button" type="submit">Save Changes</button>
                            <button class="ui red deny centered icon button" type="reset"> Reset Fields </button>
                        </form>
                    </div>
                    <div class="ui divider"></div>
                    <div class="ui blue small header">Edit Password</div>
                    <div class="content">
                        <form action="/users/changePassword" method="post" class="ui form">
                            <div class="ui error message"> </div>
                            <div class="five wide field">
                                <label>Current Password</label>
                                <input type="password" name="current_password" placeholder="Current Password">
                            </div>
                            <div class="five wide field">
                                <label>New Password</label>
                                <input type="password" name="new_password" placeholder="New Password" id="new_password">
                            </div>
                            <div class="five wide field">
                                <label>Confirm New Password</label>
                                <input type="password" name="confirm_new_password" placeholder="Confirm Password">
                            </div>
                            <button class="ui green button" type="submit">Save Changes</button>
                            <button class="ui red deny centered icon button" type="reset"> Reset Fields </button>
                        </form>
                    </div>
                </div>
                <% if(user.admin){%>
                    <div class="ui bottom attached tab segment" data-tab="second">
                        <div class="ui blue small header">Delete Caretakers</div>
                        
                        <div class="ui relaxed items">
                            <% users.forEach(function(user){ %>
                                <div class="item">
                                    <div class="ui tiny image">
                                      <img src="/images/pic3.png">
                                    </div>
                                    <div class="middle aligned content">
                                      <div class="header">
                                       <%=user.first_name %>  <%=user.last_name %> 
                                      </div>
                                      <div class="description">
                                        <%=user.email %> 
                                      </div>
                                      <div class="extra">
                                          <form action="/users/delete/<%=user._id%>?_method=DELETE" name="_name" method="POST">
                                            <button class="ui right floated red small button">
                                                Delete User
                                            </button>
                                          </form>
                                      </div>
                                    </div>
                                  </div>
                            <% }) %>
                          </div>
    
                        
                        <div class="ui divider"></div>
                        <div class="ui blue small header">Add New Caretaker</div>
                        <div class="content">
                            <form action="/users/register" method="post" class="ui form">
                                <div class="ui error message"> </div>
                                <div class="two fields">
                                    <div class="five wide field">
                                        <label>First Name</label>
                                        <input type="text" name="first_name" placeholder="First Name">
                                    </div>
                                    <div class="five wide field">
                                        <label>Last Name</label>
                                        <input type="text" name="last_name" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="four wide field">
                                        <label>Email Address</label>
                                        <input type="email" name="email" placeholder="Email">
                                    </div>
                                    <div class="four wide field">
                                        <label>Confirm Email Address</label>
                                        <input type="email" name="confirm_email_address" placeholder="Confirm Email">
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="four wide field">
                                        <label>New Password</label>
                                        <input type="password" name="password" placeholder="New Password"
                                            id="new_password">
                                    </div>
                                    <div class="four wide field">
                                        <label>Confirm New Password</label>
                                        <input type="password" name="password2" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <button class="ui green button" type="submit">Save Changes</button>
                                <button class="ui red deny centered icon button" type="reset"> Reset Fields </button>
                            </form>
                        </div>
                    </div>
                <% }%> 
                

            </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>