<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui basic segment" id="main-segment">
    <div class="ui stackable grid ">
        <div class="row">
            <div class="sixteen wide column" style="padding:0 0 0 15vw;">
                <div class="ui  inverted large  breadcrumb" style="margin: 30px 0 ;">
                    <a href='/users/home' class="section">Home</a>
                    <i class="right  chevron icon divider"></i>
                    <div href='/patients' class="active section">Patients List</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="two wide column">
                <% include ../../partials/sidebar %>
            </div>
            <div class="fourteen wide centered column">
                <div class="ui grid" id="main-grid">
                    <% if(success.length != 0){ %>
                    <div class="one column row">
                        <div class="column pd-0">
                            <div class="ui floating large success message">
                                <i class="close icon"></i>
                                <div class="header">
                                    <%=success[0]%>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="one row left aligned  column">
                        <div class="ui large header">Facility Summary</div>
                    </div>

                    <div class="four column row">
                        <div class="column">
                            <div class="ui segment grid" style="padding: 20px 0;">
                                <div class="six wide center center-content column">
                                    <i class="hospital orange huge icon"></i>
                                </div>
                                <div class="ten wide column">
                                    <div class="ui statistic">
                                        <div class="value">
                                            <%=patients.length%>
                                        </div>
                                        <div class="label">
                                            Total Patients
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui segment grid" style="padding: 20px 0;">
                                <div class="six wide center center-content column">
                                    <i class="users brown huge icon"></i>
                                </div>
                                <div class="ten wide column">
                                    <div class="ui statistic">
                                        <div class="value">
                                            394
                                        </div>
                                        <div class="label">
                                            Available Staff
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui segment grid" style="padding: 20px 0;">
                                <div class="six wide center center-content column">
                                    <i class="ambulance  teal huge icon"></i>
                                </div>
                                <div class="ten wide column">
                                    <div class="ui statistic">
                                        <div class="value">
                                            28
                                        </div>
                                        <div class="label">
                                            Available Cars
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui segment grid" style="padding: 20px 0;">
                                <div class="six wide center center-content column">
                                    <i class="stethoscope  yellow huge icon"></i>
                                </div>
                                <div class="ten wide column">
                                    <div class="ui statistic">
                                        <div class="value">
                                            63
                                        </div>
                                        <div class="label">
                                            Patients
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="twelve wide column">
                            <div class="ui segment">
                                <div class="ui header">Outpatients vs Inpatients Trend</div>
                                <canvas id="inOutChart" onload="drawHinOutChart()" height="120" width="300"></canvas>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui segment" style="height: 100%">
                                <div class="ui header">Patients by gender</div>
                                <canvas id="genderChart" onload="drawGenderChart()" height="120" width="100"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="one row left aligned  column">
                        <div class="ui big header">Patients Summary</div>
                    </div>
                    <div class="one column row">
                        <div class="centered column">
                            <div class="ui segment " style="width: 100%;">
                                <table class="ui very basic striped table">
                                    <thead>
                                        <tr>
                                            <th>Basic Info</th>
                                            <th>ID Number</th>
                                            <th>Emergency Contact Name</th>
                                            <th>Emergency Contact Number</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% patients.forEach(function(patient){ %>
                                        <tr class="">
                                            <td>
                                                <h4 class="ui image header">
                                                    <img src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png"
                                                        class="ui big rounded image">
                                                    <div class="content">
                                                        <%=patient.first_name%> <%=patient.last_name%>

                                                    </div>
                                                </h4>
                                            </td>
                                            <td><%=patient._id%></td>
                                            <td><%=patient.emergency['full_name']%></td>
                                            <td><%=patient.emergency['phone_number']%></td>
                                            <td><a href="/patients/<%=patient._id%>">View</a></td>
                                        </tr>
                                        <%})%>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/javascripts/graph.js"></script>
<% include ../../partials/footer %>