<% include ../../partials/head %>
<% include ../../partials/topmenu %>

<div class="ui basic segment " id="main-segment">
    <div class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Edit Patient
        </div>
        <div class="content">
            <form class="ui form">
                <h3>Personal Information</h3>
                <div class="field">
                    <label>Name</label>
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="first-name" placeholder="First Name">
                        </div>
                        <div class="field">
                            <input type="text" name="last-name" placeholder="Last Name">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Gender</label>
                    <input type="text" name="gender" placeholder="Gender">
                </div>
                <div class="field">
                    <label>Date of Birth</label>
                    <input type="text" name="dob" placeholder="MM-DD-YYYY">
                </div>
                <div class="field">
                    <label>Home Address</label>
                    <input type="text" name="home-address" placeholder="1234 Building St. College Station, TX 77840">
                </div>

                <h3>
                    Emergency Contact Information
                </h3>
                <div class="field">
                    <label>Full Name</label>
                    <input type="text" name="full-name" placeholder="Full Name">
                </div>
                <div class="field">
                    <label>Email Address</label>
                    <input type="text" name="email-address" placeholder="Email Address">
                </div>
                <div class="field">
                    <label>Phone Number</label>
                    <input type="text" name="phone-number" placeholder="(123) 456-7890">
                </div>
                <div class="field">
                    <label>Home Address</label>
                    <input type="text" name="home-address" placeholder="1234 Building St. College Station, TX 77840">
                </div>
                <div class="field">
                    <label>Relationship To Patient</label>
                    <input type="text" name="relationship" placeholder="Daughter, Son, etc...">
                </div>
                <button class="ui positive centered icon button" type="submit">Save Changes</button>
                <button class="ui red deny centered icon button" type="reset"> Reset Fields </button>
            </form>
        </div>

    </div>

    <div class="ui stackable grid ">
        <div class="row">
            <div class="twelve wide column" style="padding:0 0 0 16.5vw;">
                <div class="ui inverted large  breadcrumb" style="margin: 30px 0 ;">
                    <a href='/users/home' class="section">Home</a>
                    <i class="right chevron icon divider"></i>
                    <a href='/patients' class=" section">Patients Lists</a>
                    <i class="right chevron icon divider"></i>
                    <div class="active section"><%=patient.first_name%> <%=patient.last_name%></div>
                </div>
            </div>
            <div class="two wide column">
                <button class="ui grey button" style="margin-top: 2.0vh;" onclick=edit()>Edit Patient</button>
            </div>
            <div class="two wide column">
                <form action="/patients/<%=patient._id%>?_method=DELETE"" method=" POST">
                    <button class="ui red  button" style="margin-top: 2.0vh;">Delete Patient</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="two wide column">
                <% include ../../partials/sidebar %>
            </div>
            <div class="fourteen wide column">
                <div class="ui two column  grid" style="margin:0 3vw">
                    <div class=" three wide column">
                        <div class="ui center aligned container segment">
                            <img class="ui centered small circular image"
                                src="https://www.scripturaengage.com/wp-content/uploads/2017/03/Profile-Picture-Joke-Dehond-Circle.png"
                                alt="">
                            <div class="ui header">
                                <%= patient.first_name %> <%= patient.last_name %>
                            </div>
                            <div class="ui three column grid">
                                <div class="column">
                                    <div class="ui blue header">Blood</div>
                                    <div class="ui tiny statistic">
                                        <div class="value">
                                            <%= patient.blood_type %>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui blue header">Weight</div>
                                    <div class="ui tiny statistic">
                                        <div class="value">
                                            <%= patient.weight %>
                                        </div>
                                        <div class="label">
                                            cm
                                        </div>
                                    </div>

                                </div>
                                <div class="column">
                                    <div class="ui blue header">Height</div>
                                    <div class="ui tiny statistic">
                                        <div class="value">
                                            <%= patient.height %>
                                        </div>
                                        <div class="label">
                                            kg
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="ui dividing header">Quick Summary</div>
                        <div class="ui segment fluid form">
                            <div class="field">
                                <label>Bed</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="gender">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">No Bed</div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Case Manager</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="gender">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">No Case Manager</div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Levels of Care</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="gender">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Detox</div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Primary Counselor</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="gender">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">No Counselor</div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Primary </label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="gender">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">No Counselor</div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class=" ten wide column">
                        <div class="ui top attached tabular menu">
                            <a class="item active" data-tab="first">General</a>
                            <a class="item" data-tab="second">Second</a>
                            <a class="item" data-tab="third">Third</a>
                        </div>
                        <div class="ui bottom attached tab segment active" data-tab="first">
                            <div class="ui blue small header"> Personal Information</div>

                            <div class="ui stackable grid">
                                <div class="three column row">
                                    <div class="column">
                                        <div class="ui small grey header"> First Name</div>
                                        <p><%= patient.first_name %></p>
                                    </div>
                                    <div class="column">
                                        <div class="ui small grey header"> Last Name</div>
                                        <p><%= patient.last_name %></p>
                                    </div>
                                    <div class="column">
                                        <div class="ui small grey header"> ID Number</div>
                                        <p><%= patient._id %></p>
                                    </div>
                                </div>
                                <div class="three column row">
                                    <div class="column">
                                        <div class="ui small grey pp header"> Gender</div>
                                        <p><%= patient.gender %></p>
                                    </div>
                                    <div class="column">
                                        <div class="ui small grey header"> Date of Birth</div>
                                        <p id="birthdayDisplay"><%= patient.birthday %></p>
                                    </div>
                                    <div class="column">
                                        <div class="ui small grey header">Primary Care Physician</div>
                                        <p><%= patient.physician %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="sixteen wide column">
                                        <div class="ui small grey header"> Home Address</div>
                                        <p><%= patient.home_address %></p>
                                    </div>
                                </div>
                            </div>

                            <div class="ui blue small header"> Emergency Contact</div>

                            <div class="ui stackable grid">
                                <div class="two column row">
                                    <div class="column">
                                        <div class="ui small grey header"> Full Name</div>
                                        <p><%= patient.emergency['full_name']%></p>
                                    </div>
                                    <div class="column">
                                        <div class="ui small grey header"> Relationship To Patient</div>
                                        <p><%= patient.emergency['relationship']%></p>
                                    </div>
                                </div>
                                <div class="two column row">
                                    <div class="column">
                                        <div class="ui small grey header"> Email Address</div>
                                        <p><%= patient.emergency['email']%></p>
                                    </div>
                                    <div class="column">
                                        <div class="ui small grey header"> Phone Number</div>
                                        <p><%= patient.emergency['phone_number']%></p>
                                    </div>
                                </div>
                                <div class="one column row">
                                    <div class="column">
                                        <div class="ui small grey header">Home Address</div>
                                        <p><%= patient.emergency['home_address']%></p>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="ui bottom attached tab segment" data-tab="second">
                            <div class="ui text container">
                                <canvas id="heartRateChart"></canvas>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="third">
                            Third
                        </div>
                    </div>

                    <div class="three wide column">
                        <div class="ui segment" style="height: 10vw;">
                            <div class="ui grid">
                                <div class="two column row">
                                    <div class=" column">
                                        <div class="ui tiny header">Blood Pressure
                                            <div class="sub header">At risk</div>
                                        </div>
                                    </div>
                                    <div class="right aligned column">
                                        <i class="heartbeat large icon"></i>
                                    </div>
                                </div>
                                <div class="one column row">
                                    <div class="ui center aligned column">
                                        <div class="ui yellow big horizontal statistic">
                                            <div class="value">
                                                122
                                            </div>
                                            <div class="label">
                                                mm/Hg
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui segment" style="height: 10vw;">
                            <div class="ui grid">
                                <div class="two column row">
                                    <div class=" column">
                                        <div class="ui tiny header">Cholesterol
                                            <div class="sub header">Above the norm</div>
                                        </div>
                                    </div>
                                    <div class="right aligned column">
                                        <i class="heartbeat large  icon"></i>
                                    </div>
                                </div>
                                <div class="one column row">
                                    <div class="ui center aligned column">
                                        <div class="ui red big horizontal statistic">
                                            <div class="value">
                                                97
                                            </div>
                                            <div class="label">
                                                mg/dl
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment" style="height: 10vw;">
                            <div class="ui grid">
                                <div class="two column row">
                                    <div class=" column">
                                        <div class="ui tiny header">
                                            Heart Rate
                                            <div class="sub header">In the norm</div>
                                        </div>
                                    </div>
                                    <div class="right aligned column">
                                        <i class="heartbeat large icon"></i>
                                    </div>
                                </div>
                                <div class="one column row">
                                    <div class="ui center aligned column">
                                        <div class="ui big green horizontal statistic">
                                            <div class="value">
                                                122
                                            </div>
                                            <div class="label">
                                                BPM
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment" style="height: 10vw;">
                            <div class="ui grid">
                                <div class="two column row">
                                    <div class=" column">
                                        <div class="ui small header">Pulse
                                            <div class="sub header">Above the norm</div>
                                        </div>
                                    </div>
                                    <div class="right aligned column">
                                        <i class="heartbeat large icon"></i>
                                    </div>
                                </div>
                                <div class="one column row">
                                    <div class="ui center aligned column">
                                        <div class="ui red big horizontal statistic">
                                            <div class="value">
                                                56
                                            </div>
                                            <div class="label">
                                                BPM
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment" style="height: 10vw;">
                            <div class="ui grid">
                                <div class="two column row">
                                    <div class=" column">
                                        <div class="ui small header">Glucose
                                            <div class="sub header">In the norm</div>
                                        </div>
                                    </div>
                                    <div class="right aligned column">
                                        <i class="heartbeat large icon"></i>
                                    </div>
                                </div>
                                <div class="one column row">
                                    <div class="ui center aligned column">
                                        <div class="ui green  big horizontal statistic">
                                            <div class="value">
                                                90
                                            </div>
                                            <div class="label">
                                                mg/dl
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<% include ../../partials/footer %>